<!DOCTYPE html>
<html>
<head>
    <link href="MusicCategories.css" type="text/css" rel="Stylesheet" />
</head>
<body>
    <div class="mainDiv">
        <h1>Music Categories</h1>
        <div class="firstDiv">
            <div class="firstImage">
                <img src="firstImage.png" alt="firstImage" />
            </div>
            <div class="text">
                Even more websites all about website templates on <strong>Just Web Templates.</strong>
            </div>
            <div class="divWithButtons">
                <button>Listen</button>
                <button>Add</button>
            </div>
        </div>
        <div class="secondDiv">
            <div class="secondImage">
                <img src="secondImage.png" alt="secondImage" />
            </div>
            <div class="text">
                If you're looking for beautiful and professionally made templates you can find them at <strong>Template Beauty.</strong>
            </div>
            <div class="divWithButtons">
                <button>Listen</button>
                <button>Add</button>
            </div>
        </div>
        <div class="thirdDiv">
            <div class="thirdImage">
                <img src="thirdImage.png" alt="thirdImage" />
            </div>
            <div class="text">
                You can remove any link to our websites from this template you're free to use the template without linking back to us.
            </div>
            <div class="divWithButtons">
                <button>Listen</button>
                <button>Add</button
            </div>
        </div>
    </div>
</body>
</html>