<!DOCTYPE html>
<html>
<head>
    <meta charset="windows-1251">
    <link href="bTvLike.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <div>
        <nav>
            <ul>
                <li class="selected"><a href="#">Новините</a></li>
                <li><a href="#">Спорт</a></li>
                <li><a href="#">Емисии</a></li>
                <li><a href="#">Любопитно</a></li>
                <li><a href="#">Аз, репортерът</a></li>
                <li><a href="#">Тази сутрин</a></li>
            </ul>
        </nav>

        <aside>
            <ul>
                <li class="tab-item"><a href="#">Интернет новини - 13.07.2010 г.<img src="videoPicture.PNG" alt="videoPicture" width="400px" height="300px" class="defaultImage" /></a></li>
                <li class="tab-item"><a href="#">Проливни дъждове в Дания, Китай и Индия, необичайни горещини в Иран<img src="rain.PNG" alt="rain" width="400px" height="300px" class="defaultImage2" /></a></li>
                <li class="tab-item"><a href="#">Над 200 хектара горят на територията на бивш военен полигон в Германия<img src="forestFire.png" alt="forestFire" width="400px" height="300px" class="defaultImage3" /></a></li>
                <li class="tab-item"><a href="#">23-ма ранени при сблъсък на два пътнически влака в Полша<img src="trainCrash.png" alt="trainCrash" width="400px" height="300px" class="defaultImage4" /></a></li>
                <li class="tab-item"><a href="#">Диференцират от догодина минималния осигурителен доход за самоосигуряващите се<img src="income.png" alt="income" width="400px" height="300px" class="defaultImage5" /></a></li>
            </ul>
        </aside>
    </div>
</body>
</html>