<!DOCTYPE html>
<html>
<head>
    <link rel="Stylesheet" type="text/css" href="CSSTutorial.css" />
</head>
<body>
    <div>
        <nav>
            <img src="icon-home.png" alt="icon-home">
            <h1>HOME</h1>

            <ul>
                <li><a href="#" class="aRed">CSS Basic</a></li>
                <li><a href="#">CSS Introduction</a></li>
                <li><a href="#">CSS Syntax</a></li>
                <li><a href="#">CSS How To</a></li>
                <li><a href="#">CSS Background</a></li>
                <li><a href="#">CSS Text</a></li>
                <li><a href="#">CSS Font</a></li>
                <li><a href="#">CSS Border</a></li>
                <li><a href="#">CSS Outline</a></li>
                <li><a href="#">CSS Margin</a></li>
                <li><a href="#">CSS Padding</a></li>
                <li><a href="#">CSS List</a></li>
                <li><a href="#">CSS Table</a></li>
            </ul>

            <ul>
                <li><a href="#" class="aRed">CSS Advanced</a></li>
                <li><a href="#">CSS Dimension</a></li>
                <li><a href="#">CSS Classification</a></li>
                <li><a href="#">CSS Positioning</a></li>
                <li><a href="#">CSS Pseudo-class</a></li>
                <li><a href="#">CSS Pseudo-element</a></li>
                <li><a href="#">CSS Image Gallery</a></li>
                <li><a href="#">CSS Image Opacity</a></li>
                <li><a href="#">CSS Media Types</a></li>
                <li><a href="#">CSS Don't</a></li>
                <li><a href="#">CSS Summary</a></li>
            </ul>

            <ul>
                <li><a href="#" class="aRed">CSS Examples</a></li>
                <li><a href="#">CSS Examples</a></li>
            </ul>

            <ul>
                <li><a href="#" class="aRed">References</a></li>
                <li><a href="#">CSS2 Reference</a></li>
                <li><a href="#">CSS2 Print</a></li>
                <li><a href="#">CSS2 Aural</a></li>
                <li><a href="#">CSS Units</a></li>
                <li><a href="#">CSS Colors</a></li>
                <li><a href="#">CSS Colorvalues</a></li>
                <li><a href="#">CSS Colornames</a></li>
            </ul>

            <ul>
                <li><a href="#" class="aRed">CSS Quiz</a></li>
                <li><a href="#">CSS Quiz</a></li>
                <li><a href="#">CSS Exam</a></li>
            </ul>
        </nav>

        <article>
            <div>
                <h1>CSS Tutorial</h1>

                <nav>
                    <ul>
                        <li><input type="image" src="previous.png" alt="Submit"><input type="image" src="next.png" alt="Submit"> </li>
                    </ul>
                </nav>

                <hr />

                <section>
                    <h2>CSS Tutorial</h2>
                    <img src="css-logo.png" alt="CSS-Logo" width="95" height="84" class="left" />
                    <p><strong>Save a lot of work with CSS!</strong></p>
                    <p><strong>In our tutorial you will learn how to use CSS to control the style and layout of multiple Web pages all at once.</strong></p>
                    <p class="right"><a href="#">Start learning CSS!</a></p>
                </section>

                <section>
                    <h2>CSS Examples</h2>
                    <p>Learn by 70 examples! With our editor, you can edit CSS, and click on a test button to view the result.</p>
                    <p><a href="#">Try-It-Yourself!</a></p>
                </section>

                <section>
                    <h2>CSS Reference</h2>
                    <p>At W3Schools you will find a complete CSS2 reference, listing properties, units of measurements, colors, and more.</p>
                    <p><a href="#">CSS2 Reference</a></p>
                </section>

                <section>
                    <h2>CSS Quiz Test</h2>
                    <p>Test your skills at W3Schools!</p>
                    <p><a href="#">Start CSS Quiz!</a></p>
                </section>

                <hr />

                <nav>
                    <ul>
                        <li><input type="image" src="previous.png" alt="Submit"><input type="image" src="next.png" alt="Submit"> </li>
                    </ul>
                </nav>

                <hr />
            </div>
        </article>

        <aside>
            <section class="box">
                <form>
                    <h2>SITE SEARCH</h2>

                    <input type="search" />
                    <input type="submit" value="..." />
                </form>

                <ul>
                    <li><a href="#">About W3Schools</a></li>
                    <li><a href="#">W3Schools Forum</a></li>
                </ul>
            </section>

            <section>
                <ul class="secondBox">
                    <li>
                        <a href="#">
                            <img src="25-styles.png" alt="25+ styles" width="102" height="31" /><br />Dynamic button image generation
                        </a>
                    </li>
                </ul>

                <ul>
                    <li class="box">
                        <ul>
                            <h2>WEB HOSTING</h2>
                            <li><a href="#">$15 Domin Name Registration</a></li>
                            <li><a href="#">Save $20 / year!</a></li>
                        </ul>
                    </li>
                    <li  class="box">
                        <ul>
                            <li><a href="#">UK Domain Names</a></li>
                            <li><a href="#">UK Web Hosting</a></li>
                            <li><a href="#">Alojamiento Web</a></li>
                        </ul>
                    </li>
                    <li  class="box">
                        <ul>
                            <li><a href="#">Buy UK Domain Names</a></li>
                            <li><a href="#">Register Domain Names</a></li>
                        </ul>
                    </li>
                    <li  class="box">
                        <ul>
                            <li><a href="#">Cheap Domain Names</a></li>
                            <li><a href="#">Cheap Web Hosting</a></li>
                        </ul>
                    </li>
                    <li class="box"><a href="#">Best Web Hosting</a></li>
                    <li class="box"><a href="#">Domain Name</a></li>
                    <li class="box"><a href="#">Registration</a></li>
                    <li class="box"><a href="#">PHP MySQL Hosting</a></li>
                    <li class="box"><a href="#">Top 10 Web Hosting</a></li>
                    <li class="box"><a href="#">Web Hosting Providers</a></li>
                    <li class="box"><a href="#">Web Hosting Company</a></li>
                    <li class="box"><a href="#">Web Hosting Reviews</a></li>
                    <li class="box"><a href="#">UK Web Hosting</a></li>
                </ul>
            </section>
        </aside>
    </div>
</body>
</html>