<!DOCTYPE html>
<html>
<head>
    <link href="LaptopsWithoutTable.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <div>
        <nav>
             <ul>
                <li><a href="#">Apple</a></li>
                <li><a href="#">Toshiba</a></li>
                <li><a href="#">Lenovo</a></li>
                <li><a href="#">Dell</a></li>
                <li><a href="#">Asus</a></li>
                <li><a href="#">Hacer</a></li>
                <li><a href="#">HP</a></li>
            </ul>
        </nav>
        

        <hr />

        <article>
            <section>
                <fieldset>
				    <legend>Apple Macbook Air</legend>
					    <img src="appleLaptop.png" width="110" height="70" />
                        <p class="rightTop">
                            64GB SSD<br /><br />
                            2GB DDR
                        </p>
					    <p class="bottom">   
                            1300 USD&nbsp;&nbsp;&nbsp; Intel Core i5
                        </p>
				</fieldset>
            </section>

            <section>
                <fieldset>
				    <legend>Apple Macbook Air</legend>
					    <img src="appleLaptop.png" width="110" height="70" />
                        <p class="rightTop">
                            64GB SSD<br /><br />
                            2GB DDR
                        </p>
					    <p class="bottom">   
                            1300 USD&nbsp;&nbsp;&nbsp; Intel Core i5
                        </p>
				</fieldset>
            </section>

            <section>
                <fieldset>
				    <legend>Apple Macbook Air</legend>
					    <img src="appleLaptop.png" width="110" height="70" />
                        <p class="rightTop">
                            64GB SSD<br /><br />
                            2GB DDR
                        </p>
					    <p class="bottom">   
                            1300 USD&nbsp;&nbsp;&nbsp; Intel Core i5
                        </p>
				</fieldset>
            </section>

            <section>
                <fieldset>
				    <legend>Apple Macbook Air</legend>
					    <img src="appleLaptop.png" width="110" height="70" />
                        <p class="rightTop">
                            64GB SSD<br /><br />
                            2GB DDR
                        </p>
					    <p class="bottom">   
                            1300 USD&nbsp;&nbsp;&nbsp; Intel Core i5
                        </p>
				</fieldset>
            </section>

            <section>
                <fieldset>
				    <legend>Apple Macbook Air</legend>
					    <img src="appleLaptop.png" width="110" height="70" />
                        <p class="rightTop">
                            64GB SSD<br /><br />
                            2GB DDR
                        </p>
					    <p class="bottom">   
                            1300 USD&nbsp;&nbsp;&nbsp; Intel Core i5
                        </p>
				</fieldset>
            </section>

            <section>
                <fieldset>
				    <legend>Apple Macbook Air</legend>
					    <img src="appleLaptop.png" width="110" height="70" />
                        <p class="rightTop">
                            64GB SSD<br /><br />
                            2GB DDR
                        </p>
					    <p class="bottom">   
                            1300 USD&nbsp;&nbsp;&nbsp; Intel Core i5
                        </p>
				</fieldset>
            </section>
        </article>

        <aside>
            <form>
                <dl>
                    <dt><label for="min-price">Min price: 500 USD</label></dt>
                    <dd><input type="range" name="min-price" id="min-price" /></dd>

                    <dt><label for="max-price">Max price: 1500 USD</label></dt>
                    <dd><input type="range" name="max-price" id="max-price" /></dd>
                </dl>

                <dl>
                    <dt><label for="min-ram">Min RAM: 4 GB</label></dt>
                    <dd><input type="range" name="min-ram" id="min-ram" /></dd>

                    <dt><label for="max-ram">Max RAM: 16 GB</label></dt>
                    <dd><input type="range" name="max-ram" id="max-ram" /></dd>
                </dl>
            </form>
        </aside>
    </div>
</body>
</html>